<!-- <button class="visible-xs " aria-expanded="false" id="menu-hide">
      <span></span>
      <span></span>
      <span></span>
</button> -->

<a class="visible-xs" id="menu-hide">
  <img src="{{site.baseurl}}/assets/images/filter_arrow.png" class="filter-img"/>
</a>

<aside class="left-container pull-left" id="leftSection">
	<div class="panel-group" id="accordion">

	</div>
</aside>

{% raw %}
<script id="accordianTemplate" type="text/x-handlebars-template">
<h4 class="filter-title">Filters</h4>
{{#each this}}
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapse-{{@key}}">
              {{name}}
            </a>
          </h4>
        </div>
        <div id="collapse-{{@key}}" class="panel-collapse collapse in">
          <div class="panel-body read-more">
            {{#each values}}
              <div class="type-name"><input type="checkbox" class="checkbox-style facet-filter" value="{{.}}" name="{{../name}}" />{{.}}</div>
            {{/each}}
          </div>
          {{#ifOverflow values}}
            <div class="show-more">See all</div>
          {{/ifOverflow}}
        </div>
    </div>
{{/each}}
</script>

{% endraw %}



