<div class="row">

    {% if page.search_bar %}
    	<div class="col-sm-4  col-xs-12 text-right pull-right">
                <input type="text" id="searchBox" class="input-style" name="sensor" placeholder="Sensor name or part #" />
    	</div>
    {% endif %}

	<div class="col-sm-8 col-xs-12 ">
        {% if page.title %}
		<div class="page-heading">
			{{ page.title_text }}
		</div>
        {% endif %}

        {% if page.map %}
            <div class="col-sm-9" style="padding-left: 0">
                <div class="page-sub-heading">
                    {{page.sub_title_text}}
                </div>
            </div>    
        {% endif %}
	</div>
</div>
